@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

@tailwind components;

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* .btn-fill {
  background-color: #466fc1;
} */

@layer components {
  .dot {
    @apply rounded-full;
    background-color: #466fc1;
    height: 10px;
    width: 10px;
    display: inline-block;
  }
}

.text-color {
  color: #466fc1;
}
